# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables

.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# Temporary files
*.tmp
backend/cache/

